
.home {
/*
    height: 22vh;
    margin-bottom: 10px;
    
    background-color: red;
    border: solid black;
    text-align: center;
    font-size: 50px;
*/
    
   
}

.container{
}

p{
/*    margin-bottom: 10px;*/
}